@charset "UTF-8";
body{ 
    background-color: rgb(155, 155, 155);
}
nav{
    padding: 10px;
    background-color: #0092DF;
    margin: auto;
    border-radius: 8px;
    border: 4px solid #fffffa ;
    min-width: 340px;
    max-width: 1037px;
}
nav a{
    color: azure;
    font-size: 2em;
    text-align: center;
    padding: 4px 16px 4px 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    width: 100%;
}
a:hover{
    background-color:#2ab0f9 ;
    color: #fffffa;
    border-radius: 8px;
    box-shadow:none;
    transition-duration:0.2s;
    border: 2px solid #fffffa;
}
iframe{
    border: 1px solid black;
    width: 65em;
    height: 27em;
    display: block;
    margin: auto;
    margin-top: 5em;
    min-width: 30vw;
    /* No dev tools você vai vendo até onde a caixa pode ir no seu min e max*/
    max-width: 90vw;
}
